.doe{
    padding-left: 580px;
    margin-top: 80px;
    width: Hug (46px)px;
height: Hug (10px)px;

}
.head{
    width:1,440px;
    height:599px;

padding: 96px 144px 96px 144px;
gap: 104px;
}
.colom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.mdd_colom{
    display: grid;
    grid-template-columns: 1fr;
}
.font{
    font-family: "Inter", sans-serif;
}
.green_color{
    background: rgba(76, 175, 79, 1);
    border: rgba(76, 175, 79, 1) solid;
}
.text_green{
    color: rgba(76, 175, 79, 1);
    
}
.bg_page5{
    width: 1,440px;
    height: 288px;


}
.bg_page6{
    width: 1,440px;
    height: 433px;
}
.bg_page7{
    width: 1,440px;
    height: 390px;
}
.image_p7{
    width: 326px;
height: 326px;
margin-left: 128px;
}
.div_img{
    width: 500px;
}
.image_box{
    width: 368px;
height: 286px;
}
.box_page8{
    width: 368px;
height: 366px;

}
.box_text{
    width: 317px;
height: 176px;
border-radius: 8px;
}
.grid_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item_devv{
  position:relative;
  bottom: 26%;
    margin: 0px 0px 40px 20px;
    background-color: rgba(245, 247, 250, 1);
}
.boxes_ml{
    margin-left: 200px;
}
.btn_l{
    margin-left: 100px;
}
.colo_gr{
    color: rgba(113, 113, 113, 1);
    ;
}
.colo_page99{
    height: 300px;
    width: 1,440px;
    background: rgba(245, 247, 250, 1);
}
.colo_page9{
    height: 1440px;
    width: 300px;
}
.border_b{
    border: white solid;
    border-radius: 8px;
    background-color: rgba(76, 175, 79, 1);
    height: 52px;
    width: 130px;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 8px;
    margin-left: 700px;
    margin-top: 30px;
    
}
.de_size{
    font-size: 16px;
}
.footerr{
    background: rgba(38, 50, 56, 1);
    width: 1,440px;
    height: 328px;
}
.socialm{
    margin-right: 200px;
}
.marg_pt{
    padding-top: 60px;
}
.mar_t{
    margin-top: 16px;
}
.input{
    background-image: url('A:\maps\task3\icon\send.svg');
    position: right ;
    padding-left: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color:#8F8F8F;
    color: rgba(217, 219, 225, 1);
    border:#8F8F8F solid;
    border-radius: 8px;
    width: 255px;
    height: 40px;
    
}